/*body */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  background-image: linear-gradient(
      rgba(9, 9, 9, 0.4),
      rgba(216, 18, 180, 0.777)
    ),
    url(../img/dice\ background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  font-family: Lato;
  font-weight: 300;
  
  position: relative;
  height: 100vh;
  color: #555;
}

.title {
  text-align: center;
  padding: 60px;
  color: #fff;
  text-transform: uppercase;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.525);
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
  overflow: hidden;

  border-radius: 15px;
}

/* End body */

/* Player Case */

/* Adjusting Player Panels 1 et 2 */ 
.player-0-panel,
  .player-1-panel {
    width: 50%;
    height: 80%;
    padding: 100px;
  }

/* End players panels */

/* Score, text and background players / active as inactive*/
.player-name {
  font-size: 4rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 100;
  margin-top: 20px;
  margin-bottom: 10px;
  position: relative;
}
.player-name::after {
  border: 1pxsolid red
}

.player-score {
  text-align: center;
  font-size: 6rem;
  font-weight: 500;
  color: #eb4d4d;
  margin-bottom: 130px;
}

.player-current-box {
  background-color: #eb4d4d;
  color: #fff;
  width: 40%;
  margin: 0 auto;
  padding: 12px;
  text-align: center;
  border-radius: 15px;
}

.player-current-label {
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 1.3rem;
  font-weight: 900;
  color: #222;
}

.player-current-score {
  font-size: 30px;
}
/* End Score, text and background players / active as inactive*/


/*Active Player*/

.active {
  background-color: #e8bfbf;
  transition: 1.2s ease-in-out;
}
.active .player-name {
  font-weight: 300;
}

.active .player-name::after {
  content: "\2022";
  font-size: 60px;
  position: absolute;
  color: #eb4d4d;
  
  left: 38vh;
}

/* End Active Player*/ 


/* Winner */

.winner {
  background: url(../img/Trophyop.png) no-repeat center/cover;
  
}
.winner .player-name {
  font-weight: 300;
  color: #eb4d4d;
 

}

/* End Winner */


/* Buttons */

button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 200px;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #555;
  background: none;
  border: none;
  font-family: Lato;
  font-size: 1.5rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 300;
  transition: background-color 0.3s, color 0.3s;
  transition: 0.2s ease-in-out;
}

button:hover {
  font-weight: 600;
}


button:focus {
  outline: none;
} 

/* Style icôns buttons*/ 
i {
color: #eb4d4d;
font-size: 120%;
margin-right: 7px;
padding: 5px;
/* border: 2px solid black; */
}




/*Bouton new game*/

.btn-new {
  top: 10%;
}



/* Roll dice button */ 

.btn-roll {
  top: 68%;
}


/* Hold button*/

.btn-hold {
  top: 80%;
}

/* End buttons */ 


/* The dice */ 
.dice {
  position: absolute;
  left: 50%;
  top: 25vh;
  transform: translateX(-50%);
  height: 100px;
}


/* @media screen and (max-width: 1300px){
  /* .wrapper {
    flex-direction: column;
  } 
  
  .player-0-panel,
  .player-1-panel {
    width: 85%;
    height: 50%;
    padding: 50px;
  }
} */

/* @media screen and (max-width: 550px){
  .wrapper {
    flex-direction: column; 
      width: 60%;
  }
  body {
    transform: rotate(90deg);
  }

  .player-0-panel,
  .player-1-panel {
    width: 25%;
    height: 50%;
    padding: 50px;
  }
} */

@media screen and (max-width: 800px){
 html {
   overflow: auto;
 }
 body {
   z-index: -10;
 }
  .title {
    display: none;
  }
  .wrapper {
    flex-direction: column;
      width: 60%;
      height: 90vh;
  }

  .player-current-box {
    background-color: #eb4d4d;
    color: #fff;
    width: 40%;
    margin: -90px auto;
    /* padding: 12px; */
    text-align: center;
    border-radius: 15px;
  }
  .player-current-score {
    font-size: 2.5em;
  }
  
  .player-score {
    font-size: 1.5rem;
  }

  .player-0-panel,
  .player-1-panel {
    width:100%;
     /*   height: 50%; */
    padding: 10px;
    height: 45vh;
  }

  .player-name {
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 100;
    margin-top: 30px;
    margin-bottom: 10px;
    position: relative;
  }

  .player-name::after {
  left: 20vh;
    top:-24px;
    font-size: 20px;
  }
  
  .player-current-label {
    font-size: 1rem;

  }
  .btn {
    font-size: 18px;
    font-weight: bold;
  }
.btn-new {
  position: absolute;
  top: 3%;
  left: 23%;
}



/* Roll dice button */ 

.btn-roll {
  top: 96%;
  left: 22%;
}


/* Hold button*/

.btn-hold {
  top: 96%;
  left: 78%;
}

.dice {
  left:50%;
  z-index: 20;
  height: 10%;
  top: 40vh;
}

}



/* @media only screen 
and (min-device-width: 320px) 
and (max-device-width: 480px)
and (orientation: portrait) {
  body {
    transform: rotate(90deg);
  
  }
 
} */
  





