/*body */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  background-image: linear-gradient(
      rgba(9, 9, 9, 0.4),
      rgba(216, 18, 180, 0.777)
    ),
    url(../img/dice\ background.jpg);
  background-size: cover;
  background-position: center;
  
  font-family: Lato;
  font-weight: 300;
  
  position: relative;
  height: 100vh;
  color: #555;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.525);
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
  overflow: hidden;

  border-radius: 15px;
}

/* End body */

/* Player Case */

/* Adjusting Player Panels 1 et 2 */ 
.player-0-panel,
  .player-1-panel {
    width: 50%;
    height: 80%;
    padding: 100px;
  }

/* End players panels */

/* Score, text and background players / active as inactive*/
.player-name {
  font-size: 4rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 100;
  margin-top: 20px;
  margin-bottom: 10px;
  position: relative;
}
.player-name::after {
  border: 1pxsolid red
}

.player-score {
  text-align: center;
  font-size: 6rem;
  font-weight: 500;
  color: #eb4d4d;
  margin-bottom: 130px;
}

.player-current-box {
  background-color: #eb4d4d;
  color: #fff;
  width: 40%;
  margin: 0 auto;
  padding: 12px;
  text-align: center;
  border-radius: 15px;
}

.player-current-label {
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 1.3rem;
  font-weight: 900;
  color: #222;
}

.player-current-score {
  font-size: 30px;
}
/* End Score, text and background players / active as inactive*/

.active {
  background-color: #6a6a6a72;
}
.active .player-name {
  font-weight: 300;
}

.active .player-name::after {
  content: "\2022";
  font-size: 50px;
  position: absolute;
  color: #eb4d4d;
  top: 7px;
  right: 10px;
}

/* Fin Joueur actif */ 


/* Joueur gagnat */

.winner {
  background-color: #8f9b12;
}
.winner .player-name {
  font-weight: 300;
  color: #75eb4d;
}

/* Fin joueur gagnant */


/* Boutons */

button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 200px;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #555;
  background: none;
  border: none;
  font-family: Lato;
  font-size: 1.5rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 300;
  transition: background-color 0.3s, color 0.3s;
  transition: 0.2s ease-in-out;
}

button:hover {
  font-weight: 600;
}


button:focus {
  outline: none;
} 

/* style icônes des boutons*/ 
i {
color: #eb4d4d;
font-size: 120%;
margin-right: 7px;
padding: 5px;
/* border: 2px solid black; */
}

/* .bi-plus-circle {
color: aqua;
height: 50px;
width: 50px;
} */

/*Bouton new game*/

.btn-new {
  top: 10%;
}



/*Bouton Roll pour le dé*/ 

.btn-roll {
  top: 68%;
}


/*Bouton hold*/

.btn-hold {
  top: 80%;
}

/* Fin boutons */ 


/* Le dé */ 
.dice {
  position: absolute;
  left: 50%;
  top: 25vh;
  transform: translateX(-50%);
  height: 100px;
}